<!-- templates/work_update_status/partials/footer.html -->
<style>
p{
  margin: center;
  text-align: center;
  font-family: "Proxima Nova";
  color: grey;
}
</style>
<!-- <p>© Made with Love by {{author}}</p> -->
