{% extends "work_statistik/layout/base.html" %}

{% block content %}

<!-- silakan diisi yeaks -->

<style>

img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 100%;
    position: relative;
}

.img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  position: relative;
}

.username{
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.key{
  font-size: 20px;
  font-weight: bold;
}
.value{
  font-size: 20px;
}
.date{
  font-size: 10px;
  color : grey;
}

</style>
<h1>Statistics</h1>
<br></br>
<table align="center">
    <tr><td><img src={{profilepic}}></td><td class="username" >{{ name }}</td>
    <tr><td class="key" >Friends</td><td class="value" >{{friendscount}} People</td> <td></td>
    <tr><td class="key">Feed</td> <td class="value">{{feedscount}} Post</td>
    <!-- <tr><td class="subject" >Expertise</td><td class="value" >{{profile.expertise}}</td>
    <tr><td class="subject" >Description</td><td class="value" >{{profile.description}}</td>
    <tr><td class="subject" >Email</td><td class="value" >{{profile.email}}</td> -->
</table>
<br></br>
<br></br>

<table align="center">
    <tr><td class="key">Latest Post<br></br></td>
    <tr><td><img class="img" src={{profilepic}}></td><td class="key" >{{ name }}</td>
    <tr><td class="value" >{{feed}}</td>
    <tr><td class="date">{{feeddate}}</td>
    <!-- <tr><td class="subject" >Expertise</td><td class="value" >{{profile.expertise}}</td>
    <tr><td class="subject" >Description</td><td class="value" >{{profile.description}}</td>
    <tr><td class="subject" >Email</td><td class="value" >{{profile.email}}</td> -->
</table>




{% endblock %}
