{% extends "work_halaman_profile/layout/base.html" %}

{% block content %}

<!-- silakan diisi yeaks -->
<h2 style="text-align: left">Profile</h2>
<img src={{profile.image}}>
<h3 style="text-align: center">{{profile.name}}</h3>
<table align="center" style="text-align: left">
    <!-- {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %} -->
    <tr><td class="subject" >Birthday</td><td class="value" >{{profile.birthday}}</td>
    <tr><td class="subject" >Gender</td><td class="value" >{{profile.gender}}</td>
    <tr><td class="subject" >Expertise</td><td class="value" >{{profile.expertise}}</td>
    <tr><td class="subject" >Description</td><td class="value" >{{profile.description}}</td>
    <tr><td class="subject" >Email</td><td class="value" >{{profile.email}}</td>
</table>
{% endblock %}
