{% extends "work_add_friend/layout/base.html" %}

{% block content %}

<!-- silakan diisi yeaks -->

<h1><b>Add Friend</b></h1>
<hr/>
<section name="form">
	<form id="form" method="POST" action="{% url 'work_add_friend:addFriend' %}">
		{% csrf_token %}
		{{ friendurl_form }}
		<br>
		<button type="Add Friend" class="btn btn-default">Add Friend</button>
	</form>
</section>
<table class="table">
	<h2>List Friend</h2>
	<thead>
		<th>Nama</th>
		<th>URL</th>
		<th>Dibuat Pada</th>
	</thead>
	<tbody>
	<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
		{% for i in teman %}
		<tr>
			<td> {{i.name}} </td>
			<td><a href="{{i.URL}}"> {{i.URL}} </a></td>
			<td> {{i.created_date.time}} </td>
		</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock %}
