<!-- templates/work_halaman_profile/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<style>
p{
  margin: center;
  text-align: center;
  font-family: "Proxima Nova";
  color: grey;
}
</style>
<p>© Made with Love by {{author}}</p>
